{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ actor.name }}</h2>
    <ul class="list-group list-group-flush">
    {% for program in actor.programs %}
     <li class="list-group-item">
         <a href="{{ path('program_show', {slug: program.slug}) }}" class="list-group-item">
             {{ program.title }}
         </a>
     </li>
    {% endfor %}
{% endblock %}