// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
